.vs/NekoRPG.slnx/FileContentIndex/a5b6d70c-2ff8-49b9-a9eb-eb7ce11f86dd.vsidx
.vs/slnx.sqlite
.vs/NekoRPG.slnx/FileContentIndex/83f0820c-f968-4264-809e-35abf9bac7f2.vsidx
.vs/NekoRPG.slnx/FileContentIndex/fa86621d-e754-4d33-9117-0ff840a1e96f.vsidx
.vs/NekoRPG.slnx/FileContentIndex/b92f6605-7788-4aad-b243-d33beb84f73a.vsidx
.vs/NekoRPG.slnx/FileContentIndex/18e6de60-8cdb-4526-a7f5-acea31872f26.vsidx
/.vs/NekoRPG.slnx/FileContentIndex
/.vs
/node_modules
